.address-container{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.address-title{
    color: #4a4f55;
    font-size: 21px;
    margin: 0 7px;
}
.address-code{
    color: #77838f;
    font-size: 21px;
}

.balance-container{
    margin: 30px 25px;
}
.balance-title{
    color:#1E2022;
    font-size: 21px;
    margin-right: 30px;
}

.balance-price{
    color:#1E2022;
    font-size: 21px
}