{{define "leftbar"}}
<!-- ======= SIDEBAR NAVIGATION======= -->
<nav class="sidebar sidebar--show">
    <div class="sidebar__container">
        <a href="/index">
            <div class="sidebar__brand">
                <img class="brand-logo" src="dist/img/logo.png" alt="Logo GHN" />
                <img class="brand-ghn" src="dist/img/ghn.png" alt="Logo GHN" />
            </div>
        </a>
        <div class="sidebar__menu">
            <div class="sidebar__dropdown-menu">
                <div id="permissionNavControl" class="sidebar__menu-item">
                    <i class="fas fa-users"></i>
                    <a href="#" class="menu-title">
                        <span>Phân quyền</span>
                        <i class="fas fa-chevron-left dropdown-arrow"></i>
                    </a>
                </div>
                <div class="dropdown-list">
                    <div id="jobTitleLink" class="dropdown-item"><a href="/admin/job-titles">Chức vụ</a></div>
                    <div id="userLink" class="dropdown-item"><a href="/admin/users">Người dùng</a></div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- ======= /. SIDEBAR NAVIGATION======= -->
{{end}}