.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 15px;
}

.sub_title {
}

.sub_title-link {
  margin-left: 5px;
  color: #fe6b8b;
}

.root-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
