{{define "custom_css"}}

{{end}}

{{define "custom_js"}}
<script type="text/plain" data-cookiescript="accepted" data-cookiecategory="targeting functionality"></script>
{{end}}

{{define "dynamic_content"}}
<div class="detail-site-content">
    <ul>
        <li>ABC</li>
        <li>ABC</li>
        <li>ABC</li>
        <li>ABC</li>
        <li>ABC</li>
        <li>ABC</li>
        <li>ABC</li>
        <li>ABC</li>
        <li>ABC</li>
        <li>ABC</li>
    </ul>
</div>

<div class="detail-all-bg" id="detailAllBg"></div>
{{end}}